
        body {
            background-color: #FFFF99; /* желтый цвет */
            color: #008000; /* зеленый цвет */
            font-family: Arial, sans-serif;
        }

        header {
            text-align: center;
            padding: 10px;
            background-color: #008000;
        }

        header h1 {
            color: #FFFF99; /* желтый цвет */
            font-size: 5em; /* увеличиваем размер шрифта */
            margin-right: 200px;
        }

        header img {
            height: 150px; /* высота изображения */
            margin-right: 50px; /* отступ справа */
            margin-left: 50px;
            margin-bottom: 200px;
            margin-top: -20px;
            float: left;
        }

        nav {
            background-color: #008000;
            color: #FFFF99;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav li {
            display: inline-block;
            margin: 0 20px;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 5px;
        }

        nav li:hover {
            background-color: #FFFF99;
            color: #008000;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1, h2, h3 {
            color: #008000;
        }

        .quienes-somos, .a-que-nos-dedicamos, .nuestros-proyectos {
            display: none;
        }

        .visible {
            display: block;
        }
    
